
/* ------------- cart корзина ------------------ */
.cart {
    margin-bottom: 40px;
}

.cart__item {
    background: #fff;
    border-radius: 4px;
    /* position: relative; */
    padding-top: 8px;
    padding-bottom: 10px;
    min-height: 100px;
    margin: 12px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.75);
}

.cart__item:hover{
    /* box-shadow: 0 13px 30px -15px rgba(0, 0, 0, 0.75); */
}

.cart__item-img {
    height: 94px;
    margin-left: 12px;
    margin-right: 12px;

}

.cart__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 75%;
}

.item-count-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
    width: 47%;
}

.cart__item-title {
    padding-left: 8px;
    padding-right: 8px;
}


.cart__item-count {
    font-size: 18px;
    background-color: #EFEFEF;
    border-radius: 4px;
    display: flex;
    height: 41px;
    width: 104px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10px;
}

.cart__item-count span {
    width: 17px;
    height: 17px;
    opacity: 0.5;
    transition: all .2s ease;
    margin-left: 10px;
    margin-right: 10px;
}

.cart__item-count span:hover {
    opacity: 1;
    width: 18px;
    height: 18px;
} 

.cart__item-price {
    font-size: 24px;
    font-weight: bold;
    color: #3A3A44;
    padding-left: 8px;
    padding-right: 8px;
    transition: all .2s ease;
    margin-left: 10px;
}

.cart__item-delete {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    margin-left: 8px;
    cursor: pointer;
    opacity: 0.5;
}

.cart__item-delete:hover {
    opacity: 1;
    width: 21px;
    height: 21px;
}
